.edit-form {
  width: 100%;
  background-color: white;
  padding-top: 34px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 37px;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
  .edit-form {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 22px;
    padding-right: 22px;
  }
}
