.profile__avatar-edit-button {
  background-image: none;
  position: absolute;
  width: 101%;
  height: 101%;
  background-color: rgba(0, 0, 0, 0);
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  transition: all .1s linear;
  cursor: pointer;
}

.profile__avatar-edit-button:hover {
  background-image: url(../../../images/profile-edit-button.svg);
  background-color: rgba(0, 0, 0, 0.8);
}
