.profile__description {
  max-width: 500px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  grid-area: descr;
}

@media screen and (max-width: 767px) {
  .profile__description {
    margin-top: 14px;
    max-width: 250px;
    font-size: 14px;
    line-height: 16.94px;
    align-self: center;
  }
}
